body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav a:hover {
    color: brown;
}
fieldset {
    background-color: aquamarine;
    box-shadow: 3px 3px 3px 3px ;
}
legend {
    background-color: bisque;
    color: black;
    padding: 10px;
    border: thin solid black;
    font-weight: bolder;
}
.form-row, .check-row {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.form-row label {
    width: 150px;
    text-align: right;
}
.spacer {
    width: 150px;
    text-align: right;
}
input[type="submit"] {
    background-color: blue;
    color: aliceblue;
    padding: 5px; }
    input:not([type="submit"]), select, textarea {
        padding: 10px;
        font-size: 1.2em;
        background-color: #ddd;
        border-radius: 5px;
        border: 0;
        border-bottom: thin solid black;
    }
    input:not([type="submit"]) :focus {

    }
@media only screen and (max-width: 600px) {
    .form-row, .check-row {
        flex-direction: column;
    }
    .form-row label, .spacer {
        text-align: left;
    }
}