body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: cornsilk;
    margin: 0%;
}
header{
    background-color: cadetblue;
    margin: auto;
}
header h1 {
    text-align: center;
    margin: 0;
    font-size: 50px;
}
nav {
    display: flex;
    justify-content: space-between;
    background-color: cadetblue;
font-size: larger;
}
nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 2px ;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
}
nav a:hover {
    background-color: aliceblue;
    color: black;
}
.maincontent {
    display: flex;
    flex-direction: row;
    width: 100% ;
    justify-content: space-evenly;
}
aside {
    width: 180px;
    padding: 10px;
    background-color: rgb(235, 234, 234);
    border-radius: 0px 0px 10px 10px;
}
main {
    width: 720px;
}
table {
margin: auto;
margin-top: 40px;
border: solid thin black ;
border-spacing: 0px;
border-collapse: collapse;
caption-side: bottom;
}
table tbody tr:nth-child(even) {
    background-color: rgb(168, 165, 165);
}
table thead, table tfoot {
    background-color: rgb(190, 236, 237);
}
tr, th, td {
    border: solid thin black;
    border-spacing: 0px;
}
.wrapper {
    width: 900px;
    margin: auto;
}
caption {
    font-weight: bolder;

}