body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    margin: 0;

}
.wrapper {
    width: 900px;
}
footer {
    display: none;
}
header {
    text-align: center;
    background-color: rgb(130, 197, 251);
    display: none;
}
header h1 {
    margin: 0;
    padding-bottom: 20px ;
    padding-top: 20px;
    font-weight: bolder;
}
nav a{
    text-decoration: none;
    margin: 0;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: larger;
    margin: auto;
    height: fit-content;
}
nav {
    display: flex;
    justify-content: space-around;
    background-color: rgb(130, 197, 251);
    display: none;
}
nav a:hover{
    color: rgb(159, 88, 41);}
.flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.main-content {
    display: grid;
    grid-template-columns: 20% 80%;
}
figure {
    margin: auto;
    padding:5px;
}
article {
    border: 3px solid black ;
    border-radius: 5px ;
    width: 210px;
}
.interior {
    width: 100%;
}
.fullfam{
    width: 100%;}
    h2 {
        text-align: center;
        margin-bottom: 0;
    }
    p {
        margin-top: 0;
        padding: 5px;
    }