body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    margin: 0;
    background-color: rgb(241, 205, 158);
font-weight: bold;
}
.wrapper {
    width: 1000px;
}
header {
    text-align: center;
    background-color: rgb(130, 197, 251);
    display: none;
}
header h1 {
    margin: 0;
    padding-bottom: 20px ;
    padding-top: 20px;
    font-weight: bolder;
}
ul {
    margin: auto;
   padding-left: 20px;
}
li {
    font-size: smaller;
}
aside {
    background-color: rgb(191, 162, 124);
}
nav a{
    text-decoration: none;
    margin: 0;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: larger;
    padding: 2px 10px 10px 10px ;
}
nav {
    display: flex;
    justify-content: space-around;
    background-color: rgb(130, 197, 251);
    display: none;
}
footer {
    display: none;
}
nav a:hover{
    color: rgb(159, 88, 41);}
.flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.main-content {
    display: grid;
    grid-template-columns: 20% 80%;
}
figure {
    margin: auto;
    text-align: center;
}
article {
    border: 3px solid black ;
    border-radius: 5px ;
    width: 200px;
margin-top: 5px;
}
.interior {
    width: 100%;
}
.fullfam{
    width: 100%;
}
    h2 {
        text-align: center;
        margin-bottom: 0;
    }
    p {
        margin-top: 0;
        padding: 5px;
    }
    footer {
        margin: auto;
        padding: 0 5px 5px 5px ;
    }
 @media only screen and (max-width: 700px) {
nav {
    display: flex;
    flex-direction: column;
}
nav a {
    border: thin solid rgb(241, 205, 158);
    border-radius: 5px;
    text-align: center;
}
.main-content {
    display: flex;
    flex-direction: column-reverse;
}
.flexbox {
    display: flex;
    flex-direction: column;
}
article {
    width: 100%;
}
img {
    width: 100%;
}
footer {
    background-color: rgb(191, 162, 124);
}
 }