body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
iframe {
    border: 0;
}
img {
    width: 100%;
}
#image {
    width: 400px;
    margin: 10;
    border: thin solid black;
    box-shadow: 5px 5px 3px ;
    transform: rotate(8deg);
}
a {
    display: block;
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: crimson;
    width: 150px;
    text-align: center;
    text-decoration: none;
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transition: 1s ease-in-out background-color;
    transition-delay: 1000ms;
}
a:hover {
    background-color: blue;
}