body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    margin: auto;
}
.headnav {
    display: flex;
    flex-direction: row;
    background-color: #5b5b5b;
    margin: 0;
}
header {
    width: 15%;
}
#nav_logo {
    width: 75px;
    height: 75px;
    margin: auto;
    padding: 10px 10px 10px 10px;

}
nav ul, nav li {
    list-style: none;
    display: inline-flex;
    margin: 0;
    padding: 0;
}
.current {
    color: #cccccc;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-underline-offset: 8px;
    text-decoration-color: #ff5c5c;

}
#logo {
    width: 100%;
}
main {
    width: 80%;
}
aside {
    width: 20%;
    background-color: #b3b1b1;
    border: 2px black solid;
    border-radius: 20px;
    margin: 5px;
    text-align: center;
    font-size: 24px;
}
.sidelabel-icon {
    width: 100%;
    opacity: 50%;
}
aside p {
    margin: auto;
    padding: 5px;
    width: 90%;
    text-align: left;
}
nav {
    width: 85%;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}
nav a {
    margin: auto;
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    font-size: large;
    transition: 0.4s ease-in-out transform;
}
nav a:hover {
    color: #faaf00;
    transform: scale(1.1);
}
.navsearch {
    width: max-content;
    display:none;
    align-items: center;
    padding: 14px;
    border-radius: 28px;
    background-color: #dcdcdc;
    transition: box-shadow 0.25s;

}
.navsearch:focus-within {
    box-shadow: 0 0 5px #009ffb;
}
.search-input {
    font-size: 16px;
    color: #5b5b5b;
margin-left: 12px;
outline: none;
border: none;
background: transparent;
}
.maincontent {
    display: flex;
    flex-direction: row;
}
.sidelabel {
    font-size: larger;
    font-weight: bold;
    background-color: #009ffb;
    border-radius: 100px;
    padding: 10px;
    margin: 10px;
    transition: 0.4s ease-in-out transform;
}
.sidelabel:hover {
    transform: scale(1.1);
}
iframe {
    border: 0;
}
#communityform {
    margin: auto;
    padding: 10px;
    font-size: larger;
}
#communityimage {
    font-size: small;
}
.communityposts {
    text-align: center;
    background-image: linear-gradient(#5b5b5b 10%,#926be3 90%);
    padding: 5px;
    font-size: 24px;
    border-bottom-left-radius: 15px;
}
legend {
    color: black;
    padding: 20px;
    border-radius: 10px;
    font-weight: bolder;
    background-color: #009ffb;
    box-shadow: black 2px 2px 2px 2px;
    font-size: larger;
}
.form-row, .check-row {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.form-row label {
    width: 125px;
    text-align: right;
}
.formspacer {
    width: 125px;
    text-align: right;
}
.communityform, input[type="submit"] {
    background-color: #ff5c5c;
    font-size: larger;
    color: rgb(0, 0, 0);
    padding: 20px 60px 20px 60px;
    border-radius: 5px; 
    margin-left: 125px;
    font-weight: bold;
}

.communityform, input:not([type="submit"]), select, textarea {
        padding: 10px;
        font-size: 20px;
        background-color: #dcdcdc;
        border-radius: 5px;
        border: 0;
        border-bottom: 2px solid black;
    }
#homeintro {
    text-align: center;
    border: #ff5c5c 8px solid;
    border-radius: 5px;
    margin: 5px;
    font-size: 24px;
    background-color: #ff5c5c;
}
#woodcircle img {
    border-radius: 200px;
    width: 100%;
    display: block;
}
#woodcircle {
    display: flex;
    margin: 5px;
}
#woodcircle figcaption {
    margin: 20px;
}
.table {
    margin: 5px auto;
    border: thin solid black;
    border-spacing: 0px;
    border-collapse: collapse;
    caption-side: top;
    
}
.table td, .table th {
    border: thin solid black;
    text-align: center;
    border-collapse: collapse;
    padding: 10px;
}
.table tbody tr:nth-child(even) {
    background-color: rgb(168, 165, 165);
}
.table thead, .table tfoot {
    background-color: #926be3;
}
footer {
    border-top: #5b5b5b solid 3px;
    border-radius: 15px;
    display: flex;
width: 100%;
height: auto;
justify-content: left;
}
.footertitle {
    display: block;
    margin: 10px;
}
.copyright {
font-size: small;
}
.socialpages {
    display: flex;
}
.socialpages a {
    display: block;
    margin-top: 5px;
    padding: 10px 10px 10px 10px;
}
.footerlinks {
    display: block;
    margin-top: 5px;
    padding: 10px 10px 10px 10px;
}
.maincontent-store {
    background-color: #bcafd8;
}
.storefront {
    padding: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: Auto Auto Auto;
    justify-content: space-evenly;
}
.shopitem {
    display: block;
    border: 3px #faaf00 solid;
    border-radius: 10px;
    box-shadow: 1px 3px 3px 0px;
    transition: 0.4s ease-in-out transform;
    width: 400px;
    background-color: white;
}
.shopitem:hover {
    transform: scale(1.1);
    box-shadow: 1px 3px 3px 0px;
}
.shopitem img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.itemdescription {
    text-align: center;
}
.itemdescription h3 {
    margin: 0;
    padding: 0px;
}
.gettingstarted img {
    width: 100%;
    flood-opacity: 30%;
    opacity: 75%;
    border-radius: 15px;
    border:  #ff5c5c 5px solid;
}
.article-background {
    background-color: #fcedca;
    border-radius: 5px;
    padding: 10px;
    margin: auto;
}
.article-background p {
    padding: 10px;
}
.article-background h1, .article-background h5 {
    padding: 5px;
    margin: 10px;
    text-align: center;
}
.article-background h5 {
    background-color: #b19fd3;
    font-size: larger;
}
.article-background a {
    text-decoration: none;
    color: #ff5c5c;
    text-shadow: black 0.5px 0.25px;
    transition: ease-in 0.5s;
}
.spacer {
    text-align: center;
    font-weight: bold;
}
#equipment-tips {
    text-align: center;
}
.equipmentlist {
    text-align: center;
    font-size: larger;
    background-color: #ffabab;  
    margin: auto;
    border: thin solid black;
    border-spacing: 0px;
    border-collapse: collapse;
    font-weight: 300;
}
.equipmentlist td, .equipmentlist th {
        border: thin solid black;
        padding: 10px 100px;
}
.equipmentlist tbody tr:nth-child(even){
    background-color: #fa7b7b;
}
.equipmentlist thead {
    background-color: #926be3;
}
.embeded {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;
}
.embeded iframe {
    width: 560px;
    height: 315px;
    transition: 0.4s ease-in-out transform;
    margin: 2px;
}
.embeded iframe:hover {
    transform: scale(1.1);
    box-shadow: 1px 3px 3px 0px;

}
#uploads {
    background-color: #faaf00;
    width: 100%;
    margin: auto;
    margin-bottom: 5px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
}

#uploads h3 {
    background-color: #009ffb;
    border-radius: 50px;
    margin: 10px;
    padding: 10px;
    font-size: 30px;
}
.monthlyupdate {
    text-align: center;
    background-color: #faaf00;
    width: 80%;
    display: block;
    margin: auto;
    border: #faaf00 20px solid;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
}
#homepagemain {
    display: flex;
    flex-direction: column;
}
#newsroommain {
    width: 100%;
    display: flex;
    flex-direction: column;
}
#newsbanner {
    width: 100%;
}
.newscard, .newscard2 {
    display: flex;
    font-size: 25px;
    padding: 5px;
}
.newscard p, .newscard2 p {
    width: 75%;
    font-weight: bold;
    padding: 3px;
}
.newscard2 {
    background-color: #afe0fc;
}
.newsimage{
    width: 25%;
}
.gettingstarted {
    text-align: center;
    font-style: italic;
}
.gettingstarted a {
    text-decoration: none;
    color:rgb(0, 51, 255);
}
#resourcemain {
    display: flex;
    flex-direction: column;
    width: 100%;
}
#banner-image {
    width: 100%;
    opacity: 85%;
}
.resource-cards {
    display: flex;
}
@media only screen and (max-width: 1500px) {
    .storefront {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (max-width: 700px) {
    header {
        display: none;
    }
    nav, ul {
        display: flex;
        flex-direction: column;
        justify-content: left;
    }
    nav li a {
        margin-top: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 350px;
        border: thin white solid;
    }
    .maincontent {
        display:flex;
        flex-direction: column-reverse;
        justify-content: center;
    }
    main {
        width: 100%;
        margin: auto;
    }
    aside {
        width: 100%;
        margin: auto;
    }
}