body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-weight: 300;
font-size: larger;
    background-color: rgb(0, 118, 48);

}
header h1 {
    text-align: center;
    background-image: url(fishwrapper.jpg);
    background-color: aliceblue;
    background-origin: content-box;
    background-position: 100px;
    background-clip:padding-box;
border-radius: 3px;
color: rgb(255, 255, 255);
margin: 0px;
text-transform:uppercase;
}
header {
    border: 8px solid black;
    border-radius: 10px;
    text-shadow: 3px 3px 3px black;
}
figure {
    border: 10px dotted black;
    margin-left: auto;
    margin-right: auto;
    float: left;
    text-align: center;
    color: rgb(255, 151, 87);
}
figure img {
    border-radius: 10px;
    box-shadow: 2px 2px;
}
nav a {
    color: black;
    background-color: aqua;
    text-decoration: none;
    display: block;
    float: left;
    margin-left: 10px;
    padding: 5px 20px;
    border-radius: 5px;
    margin-top: 5px;
    height: fit-content;
}
nav a:hover {
    background-color: rgb(252, 45, 87);
    color: aliceblue;
    border-radius: 10px 10px 10px 10px ;
    text-shadow:2px 2px black;
}
.clear {
    clear: both;
}
footer {
    font-size: small;
    background-color: rgb(152, 152, 152);
    width: 110px;
    color: rgb(0, 0, 0);
}
p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    line-height: 18px;
    text-align: center;
    font-weight: 700;
    padding-top: 35px;
}
#wrapper {
    width: 900px;
    margin: auto;
}
