body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(40, 39, 39);
    color: rgb(255, 255, 255);
    margin: auto;
}
header {
    text-align: center;
    background-color: lightskyblue;
}
header h1 {
    padding: 10px;
    margin-bottom: 0%;
    color: black;
}
nav {
    display: flex;
    justify-content: space-around;
    background-color: lightskyblue;
}
nav a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    font-weight: bold;
}
nav a:hover {
    color: darkgreen;
}
footer {
    background-color: darkgray;
    color: black;
    opacity: 80%;
}
footer p {
    padding: 10px;
}