body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(40, 39, 39);
    color: rgb(255, 255, 255);
    margin: auto;
}
header {
    text-align: center;
    background-color: lightskyblue;
}
header h1 {
    padding: 10px;
    margin-bottom: 0%;
    color: black;
}
nav {
    display: flex;
    justify-content: space-around;
    background-color: lightskyblue;
}
nav a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    font-weight: bold;
}
nav a:hover {
    color: rgb(0, 142, 0);
}
footer {
    background-color: darkgray;
    color: black;
    opacity: 80%;
}
footer p {
    padding: 10px;
}
legend {
    background-color: lightskyblue;
    color: black;
    font-weight: bolder;
    border: solid 2px lightskyblue;
    border-radius: 3px;
    padding: 5px;
}
form {
    margin: 10px;
    width: auto;
}
.form-row {
display: flex;
gap: 10px;
margin-top: 5px;
}
.form-row label {
    
}